@tailwind base;
@tailwind components;
@tailwind utilities; 


.shimmer-card {
    @apply relative overflow-hidden rounded-lg bg-gray-200;
  }
  
  .shimmer-image {
    @apply h-52 w-full bg-gray-300;
  }
  
  .shimmer-title, .shimmer-subtitle {
    @apply bg-gray-300 rounded;
  }
  
  .animate-pulse {
    animation: pulse 1.5s infinite linear;
  }
  
  @keyframes pulse {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
